@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.wrraper{
    //background-image: linear-gradient(to right bottom, #760000, #5c030f, #410913, #250a0f, #000000);
    background-image: linear-gradient(to right bottom, #dc0000, #a9001d, #720621, #3b0e1a, #000000);
    .bg-decoration {
        position: absolute;
        right: -50px;
        top: 970px;
        z-index: -2;
    }
}

.app {
    max-width: 1100px;
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    position: relative;
    z-index: 3
}
@media(max-width: 1200px){
    .app{
        padding: 50px 20px 50px 50px;
    }
}

main {
    margin-top: 50px;
    position: relative;
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}
